.divgral{
    width: 100%;
    height:100%;
  margin:0;
 
  /* //background-image: url("../../images/patern4.jpg"); */
  background-repeat: repeat;
  background-position:initial;
 

  position: absolute;
 
   /* opacity: 0.6; */
}

.nav{
  width: 96%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction:row;
  /* flex-wrap: row wrap; */
  border: 2px solid crimson;
  border-radius: 30px;

  background-color: rgb(189, 182, 182);
  /* font-weight: bold; */
 justify-content: space-between;
 align-items: flex-start;
 align-content: center;
}

.select{
        
text-decoration: none;
margin: 10px;
height: 30px;
color: white;
font: bold 14px Arial, Helvetica;
font-size: 15px;

background-color: #4cda3c;
    background-image: linear-gradient(#e45149, #b42b19);
    border-radius: 8px;
    text-shadow: 0 2px 0 rgba(32, 30, 30, 0.8); 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.466), 0 3px 0 rgba(19, 18, 18, 0.239), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
}
.select:hover {
    background-color: #41bb3b;
    background-image: linear-gradient(#1f8308, #3bbb6e);
   
}

.link{
    text-decoration: none;
    outline: none;
    
    margin: 10px;
    height: 30px;
    color: white;
    font: bold 14px Arial, Helvetica;
    font-size: 15px;
    text-align:center;
    text-transform: uppercase;
    
      
}
.link:active{
    text-decoration: none;
}

.navIzq{
    display: flex;
    flex-direction:row;
    justify-content: left;
    justify-content: space-between;
}
.navDer{

    display: flex;
    flex-direction:row;
    justify-content: right;
    justify-content: space-between;
}

.options{
    background-color: rgb(16, 14, 14);
    color: rgb(20, 220, 83);
    font:bold;
}

.cards{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}


.nroPag{
    font: bold 25px Arial, Helvetica;
    color: rgb(67, 220, 20);
    background-color: rgb(172, 167, 167);
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 10px;
    text-align:center;
    margin-left: 46%; 
    /* width:10%; */
    
   
} 

.temps{
    font: bold 25px Arial, Helvetica;


}
