
formul { 
    padding: 20px 0px 0px 30px;   
    font-family:verdana,arial;
    font-size:9pt;
} 
/* 
.input{
    
    /* height: 30px;
    width: 180px;
    background-color: white;
    font:  14px Arial, Helvetica;
    font-size: 15px;
    margin-top: 5px;
    border: 2px solid crimson;
    border-radius: 10px;
    outline: none;
     */
 */

.boton1{
    
text-decoration: none;
margin: 10px;
height: 30px;
color: white;
font: bold 14px Arial, Helvetica;
font-size: 15px;

background-color: #4cda3c;
    background-image: linear-gradient(#e45149, #b42b19);
    border-radius: 8px;
    text-shadow: 0 2px 0 rgba(32, 30, 30, 0.8); 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.466), 0 3
    

}  */


    .boton:hover {
        background-color: #1a9c32; 

       
    }
    .boton:valid, textarea:valid {
        color: white;
    }
    