.completa{

    background-image: url("../../Assets/istockphoto-1169439839-612x612.jpg"); 
  background-size: cover;
    height: 100vh;
    background-repeat: repeat-y;
    background-repeat: repeat-x

}

.boton{
  
text-decoration: none;
margin: 100px;
margin-left: 700px;
height: 30px;
color: white;
font: bold 14px Arial, Helvetica;
font-size: 15px;
size: 200px;

background-color: #4cda3c;
    background-image: linear-gradient(#e45149, #b42b19);
    border-radius: 8px;
    text-shadow: 0 2px 0 rgba(32, 30, 30, 0.8); 
    box-shadow: 0 1px 0 rgba(255, 255)

}

.boton:hover {
    background-color: #41bb3b;
    background-image: linear-gradient(#1f8308, #3bbb6e);
   
}
.title{
font-size: x-large;

font: bold 14px Arial, Helvetica;

}