.background {
    width:100vw;
    min-height:38vw;
    height: 100%;
    background-size: 100%;
    background-image: url("../../Assets/istockphoto-1169439839-612x612.jpg"); 
    height: 100vh;
    background-repeat: repeat-y;
    background-repeat: repeat-x
}
.text {
    padding: 10px;
    font-size: 25px;
    color: #2C3E50;
    text-transform: uppercase;
    font-weight: 1000;
    font-family: "Montserrat";
   
}
.text2 {
    margin: 20px;
    font-size: 20px;
    color: #2C3E50;
    font-family: "Montserrat";
}
.back {
    background-color: rgba(255, 255, 255, 0.6);
    background-attachment: scroll;
    
}
.contenedor {
    margin: 60px;
    width: 350px;
    height: 570px;
    align-items: center; 
    text-align: center;
    display: inline-block;
    background-color: rgb(253, 226, 182);
    border-radius: 5%;
    padding-left: 5px;
    padding-right: 10px;
    justify-content: center;
    margin-left: 105px;
    color: solid black;
    border-color: solid black;
}
.image {
    height: 200px;
    width: 200px;
    border-color: black;
    border-radius: 20%;
    justify-content: center;
}

.direccion {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    
}
.link{
        
    text-decoration: none;
    margin: 10px;
    height: 30px;
    color: white;
    font: bold 14px Arial, Helvetica;
    font-size: 15px;
    
    background-color: #4cda3c;
        background-image: linear-gradient(#e45149, #b42b19);
        border-radius: 8px;
        text-shadow: 0 2px 0 rgba(32, 30, 30, 0.8); 
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.466), 0 3px 0 rgba(19, 18, 18, 0.239), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
    }